@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  @font-face {
    font-family: "QuicksandLight";
    src: url("/fonts/Quicksand-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "QuicksandRegular";
    src: url("/fonts/Quicksand-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "QuicksandMedium";
    src: url("/fonts/Quicksand-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "QuicksandSemibold";
    src: url("/fonts/Quicksand-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "QuicksandBold";
    src: url("/fonts/Quicksand-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "RobotoLight";
    src: url("/fonts/Roboto-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "RobotoRegular";
    src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "RobotoMedium";
    src: url("/fonts/Roboto-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "RobotoSemibold";
    src: url("/fonts/Roboto-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "RobotoBold";
    src: url("/fonts/Roboto-Bold.ttf") format("truetype");
  }
}

@layer components {
  .hamburger {
    display: block;
    width: 35px;
    cursor: pointer;
    position: relative;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 100;
    margin-right: 0px;
  }

  .hamburger .bar,
  .hamburger:after,
  .hamburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin: 6px 0;
    background: #3e449b;
    transition: 0.3s;
  }

  .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-6px, 6px);
  }

  .hamburger.is-active:after {
    transform: rotate(45deg) translate(-6px, -6px);
  }

  .hamburger.is-active .bar {
    opacity: 0;
  }

  .mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: white;
    padding-top: 120px;
    transition: 0.4s;
  }

  .mobile-nav.is-active {
    left: 0;
  }

  .mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: #3e449b;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
  }

  .mobile-nav a:hover {
    color: #fe8c12;
  }

  ul {
    list-style: disc;
  }
}
